// app global css in SCSS form


.pcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0px;
  /*background-color: #336d5e; */
}

.bcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
